<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/decanter.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="/img/favicon.png">
  </head>
  <body>
    <section class="su-brand-bar su-brand-bar--dark">
      <div class="su-brand-bar__container">
        <a class="su-brand-bar__logo" href="https://stanford.edu">Stanford University</a>
      </div>
    </section>
    <nav id="navbar">
      <ul>
        <li><a {% if page.title=="home" %}class="active" {% endif %}href="/index.html">Home</a></li>
        <li><a {% if page.title=="blog" %}class="active" {% endif %}href="/blog.html">Blog</a></li>
        <li><a {% if page.title=="news" %}class="active" {% endif %}href="/news.html">News</a></li>
        <li><a {% if page.title=="events" %}class="active" {% endif %}href="/events.html">Events</a></li>
        <li><a {% if page.title=="courses" %}class="active" {% endif %}href="/courses.html">Courses</a></li>
        <li><a {% if page.title=="people" %}class="active" {% endif %}href="/people.html">People</a></li>
        <li><a {% if page.title=="alumni" %}class="active" {% endif %}href="/alumni.html">Alumni</a></li>
        <li><a {% if page.title=="publications" %}class="active" {% endif %}href="/publications.html">Publications</a></li>
        <li><a {% if page.title=="tools" %}class="active" {% endif %}href="/tools.html">Tools</a></li>
        <li><a {% if page.title=="affiliates and sponsors" %}class="active" {% endif
            %}href="/affiliates_and_sponsors.html">Affiliates and Sponsors</a></li>
      </ul>
      <div style="clear:left;"></div>
    </nav>
    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="/"><img id="header-logo" src="/img/logo.svg"></img></a></h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    {% if page.mission %}
      <div id="content-mission">
        {{ page.mission }}
      </div>
    {% else %}
      {% if page.layout != 'blog-post' and page.title %}
        <div id="content-title">{{ page.title | capitalize }}&nbsp;</div>
      {% endif %}
      {% if page.layout == 'blog-post' %}
      <div id="content-title">{{ page.title }} &nbsp;</div>
      
      <div id="content-author-info">
        by {{ page.author }}, {{ page.date | date_to_string }} &nbsp;
      </div>
      {% endif %}
    {% endif %}
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="su-global-footer su-global-footer--dark">
        <div class="su-global-footer__container" title="Common Stanford resources">
          <div class="su-global-footer__brand">
            <a class="su-logo su-global-footer--dark" href="https://www.stanford.edu">
              Stanford
              <br />
              University
            </a>
          </div>
          <div class="su-global-footer__content">
            <nav aria-label="global footer menu">
              <ul class="su-global-footer__menu su-global-footer__menu--global">
                <li>
                  <a href="https://www.stanford.edu">
                    Stanford Home
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
                <li>
                  <a href="https://visit.stanford.edu/plan/">
                    Maps &amp; Directions
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.stanford.edu/search/">
                    Search Stanford
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
                <li>
                  <a href="https://emergency.stanford.edu">
                    Emergency Info
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
              </ul>
              <ul class="su-global-footer__menu su-global-footer__menu--policy">
                <li>
                  <a href="https://www.stanford.edu/site/terms/" title="Terms of use for sites">
                    Terms of Use
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.stanford.edu/site/privacy/" title="Privacy and cookie policy">
                    Privacy
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
                <li>
                  <a href="https://uit.stanford.edu/security/copyright-infringement" title="Report alleged copyright infringement">
                    Copyright
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
                <li>
                  <a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" title="Ownership and use of Stanford trademarks and images">
                    Trademarks
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
                <li>
                  <a href="http://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/" title="Non-discrimination policy">
                    Non-Discrimination
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.stanford.edu/site/accessibility" title="Report web accessibility issues">
                    Accessibility
                    <span class="su-global-footer__link-a11y">(link is external)</span>
                  </a>
                </li>
              </ul>
            </nav>
            <div class="su-global-footer__copyright">
              <span>&copy; Stanford University.</span>
              <span>&nbsp; Stanford, California 94305.</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
